@charset "UTF-8";

textarea{resize:none;}

.contentTB{margin-top:10px;}
.contentTB .table-height{height:200px;}

/*댓글처리*/
.gap{margin-right:8px;}
.cnt{font-size:10px; color:red;}
.inline{display:inline;}
.msg_error{color:red;}
.required{background-color: PaleGreen;}
.msg_default{font-weight:bold;}

/* 멤버 검색 div */
#memberSearch{
	padding-bottom: 5px;
}

.mgrade-div{
	float: none;
}

.welcom{font-size:25px}
